.login-container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: rgba(92, 17, 84, 0.516) !important;
  border-color: rgba(92, 17, 84, 0.516) !important;
  color: white !important;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(92, 17, 84, 0.7) !important;
  border-color: rgba(92, 17, 84, 0.7) !important;
}
button:disabled{
  background: #ccc;
}

body {
  background-color: #f8f9fa;
}
.hero {
  background: url('../../../../public/Furniture.png') no-repeat center center/cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  font-size: 2rem;
  font-weight: bold;
}
.product-card {
  transition: transform 0.3s;
}
.product-card:hover {
  transform: scale(1.05);
}
